USE [master]
GO
/****** Object:  Database [TheBank]    Script Date: 21.08.2023 13:00:57 ******/
CREATE DATABASE [TheBank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TheBank', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.WINCCPLUSMIG2014\MSSQL\DATA\TheBank.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TheBank_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.WINCCPLUSMIG2014\MSSQL\DATA\TheBank_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TheBank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TheBank]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 21.08.2023 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerLogs]    Script Date: 21.08.2023 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerLogs](
	[CustomerLogsId] [int] IDENTITY(1,1) NOT NULL,
	[LogTime] [datetime] NOT NULL,
	[IsLoginOrLogout] [bit] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CustomerLogs] PRIMARY KEY CLUSTERED 
(
	[CustomerLogsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 21.08.2023 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Balance] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTransactions]    Script Date: 21.08.2023 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTransactions](
	[TransactionsId] [int] IDENTITY(1,1) NOT NULL,
	[AmountOfMoney] [decimal](18, 2) NOT NULL,
	[TransactionTypeId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[Explanation] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CustomerTransactions] PRIMARY KEY CLUSTERED 
(
	[TransactionsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 21.08.2023 13:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[TransactionTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CustomerLogs] ON 

INSERT [dbo].[CustomerLogs] ([CustomerLogsId], [LogTime], [IsLoginOrLogout], [CustomerId]) VALUES (1, CAST(N'2023-08-19T20:24:37.887' AS DateTime), 1, 1)
INSERT [dbo].[CustomerLogs] ([CustomerLogsId], [LogTime], [IsLoginOrLogout], [CustomerId]) VALUES (2, CAST(N'2023-08-19T20:26:43.293' AS DateTime), 0, 1)
INSERT [dbo].[CustomerLogs] ([CustomerLogsId], [LogTime], [IsLoginOrLogout], [CustomerId]) VALUES (3, CAST(N'2023-08-19T20:28:33.963' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[CustomerLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [Name], [Surname], [Password], [Balance]) VALUES (1, N'İlker', N'Şenel', N'1234', CAST(10700.00 AS Decimal(18, 2)))
INSERT [dbo].[Customers] ([CustomerId], [Name], [Surname], [Password], [Balance]) VALUES (2, N'Mehmet', N'Akif', N'1234', CAST(4950.00 AS Decimal(18, 2)))
INSERT [dbo].[Customers] ([CustomerId], [Name], [Surname], [Password], [Balance]) VALUES (3, N'Sezer', N'Asyalı', N'1234', CAST(7000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerTransactions] ON 

INSERT [dbo].[CustomerTransactions] ([TransactionsId], [AmountOfMoney], [TransactionTypeId], [CustomerId], [DateTime], [Explanation]) VALUES (1, CAST(150.00 AS Decimal(18, 2)), 1, 1, CAST(N'2023-08-19T20:24:43.950' AS DateTime), N'Para Yatırma')
INSERT [dbo].[CustomerTransactions] ([TransactionsId], [AmountOfMoney], [TransactionTypeId], [CustomerId], [DateTime], [Explanation]) VALUES (2, CAST(100.00 AS Decimal(18, 2)), 1, 1, CAST(N'2023-08-19T20:24:59.903' AS DateTime), N'Para Yatırma')
INSERT [dbo].[CustomerTransactions] ([TransactionsId], [AmountOfMoney], [TransactionTypeId], [CustomerId], [DateTime], [Explanation]) VALUES (3, CAST(100.00 AS Decimal(18, 2)), 2, 1, CAST(N'2023-08-19T20:25:21.257' AS DateTime), N'Para Çekme')
SET IDENTITY_INSERT [dbo].[CustomerTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionTypes] ON 

INSERT [dbo].[TransactionTypes] ([TransactionTypeId], [TransactionName]) VALUES (1, N'Para Yatırma')
INSERT [dbo].[TransactionTypes] ([TransactionTypeId], [TransactionName]) VALUES (2, N'Para Çekme')
INSERT [dbo].[TransactionTypes] ([TransactionTypeId], [TransactionName]) VALUES (3, N'Para Gönderme')
SET IDENTITY_INSERT [dbo].[TransactionTypes] OFF
GO
/****** Object:  Index [IX_CustomerId]    Script Date: 21.08.2023 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[CustomerLogs]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerId]    Script Date: 21.08.2023 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[CustomerTransactions]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransactionTypeId]    Script Date: 21.08.2023 13:00:57 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionTypeId] ON [dbo].[CustomerTransactions]
(
	[TransactionTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerLogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomerLogs_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerLogs] CHECK CONSTRAINT [FK_dbo.CustomerLogs_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[CustomerTransactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomerTransactions_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerTransactions] CHECK CONSTRAINT [FK_dbo.CustomerTransactions_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[CustomerTransactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CustomerTransactions_dbo.TransactionTypes_TransactionTypeId] FOREIGN KEY([TransactionTypeId])
REFERENCES [dbo].[TransactionTypes] ([TransactionTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerTransactions] CHECK CONSTRAINT [FK_dbo.CustomerTransactions_dbo.TransactionTypes_TransactionTypeId]
GO
USE [master]
GO
